@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", "Courier New", Courier, monospace;
  color: black;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  overscroll-behavior: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  overflow: hidden;
}
